@media (min-width: 320px) and (max-width: 767px){
	.container{
		width: 100%;
	}
	.box-content{
		display: block;
	}
	aside{
		margin: 0px 30px 40px;
	}
	article{
		margin-right: 30px;
	}
	
	header ul li {
    display: inline-block;
    color: #000080;
    margin-left: 0;
	}
	header ul {
    list-style: none;
    
	}	
}